[Unit]
Description=MongoDB Database Server for instance %i
After=network.target

[Service]
User=mongod
Group=mongod
Environment="OPTIONS=--config /etc/mongod-%i.conf"
ExecStart=/usr/bin/mongod $OPTIONS
ExecStartPre=/usr/bin/mkdir -p /var/run/mongodb
ExecStartPre=/usr/bin/chown mongod:mongod /var/run/mongodb
ExecStartPre=/usr/bin/chmod 0755 /var/run/mongodb
PIDFile=/var/run/mongodb/mongod-%i.pid
Type=forking
Restart=always
LimitNOFILE=64000
LimitNPROC=64000

[Install]
WantedBy=multi-user.target
